USE [ETNA]
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_DETALLEMOVIMIENTO]    Script Date: 05/27/2015 23:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EDITAR_DETALLEMOVIMIENTO]
(
	@IN_IDDOCPENDIENTE INTEGER,
	@IN_IDPRODUCTO INTEGER,
	@IN_CANTIDAD INTEGER
)
AS
BEGIN

	UPDATE detalleDocumentoPendiente 
	SET cantidadAtendida = @IN_CANTIDAD
	WHERE idDocPendiente = @IN_IDDOCPENDIENTE
	AND idProducto = @IN_IDPRODUCTO
	
	SELECT 0
END
GO
